# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# VS Code
.vscode
# IntelliJ IDEA
.idea

# Server files
*.db

# OpenResty folders
openresty/logs
openresty/*temp/

# Compilation files
installer.iss
bin/mercury*

# Mercury tools and stuff
packages/
service/
*.mercu
cert/