nav {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

footer {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

html,
body {
	height: 100%;
}

#page-wrapper {
	min-height: calc(100% - 20px);
	margin-bottom: -140px;
}
#page-wrapper:after {
	content: "";
	display: block;
}
#page-footer,
#page-wrapper:after {
	height: 140px;
}
