<footer id="page-footer" class="uk-tile-secondary uk-margin-top" uk-sticky>
	<div class="uk-container uk-padding-small uk-text-center">
		<p style="font-size: 60%" class="uk-text-bold uk-text-uppercase">Powered by</p>
		<img data-src="img/openresty.png" width="10%" height="20px" alt="" uk-img />
		<img data-src="img/uikit.png" width="10%" height="20px" alt="" uk-img />
		<hr />
		<a class="uk-link uk-text-small" href="https://github.com/Sledmine/Mercury/graphs/contributors"
			>2021 - Mercury Development Team.</a
		>
	</div>
</footer>
