<li class="uk-card uk-card-default uk-card-small uk-card-body">
	<a class="uk-accordion-title">
		<div class="uk-grid-small uk-flex-middle" uk-grid>
			<div class="uk-width-auto">
				<img
					class="uk-border-circle"
					width="40"
					height="40"
					src="{{package.image or 'img/package.png'}}"
				/>
			</div>
			<div class="uk-width-expand">
				<h3 class="uk-card-title uk-margin-remove-bottom">
					{{package.label}}
					<span class="uk-label">{{package.category or ""}}</span>
				</h3>
				<p class="uk-text-meta uk-margin-remove-top">{{package.version}}</p>
			</div>
		</div>
	</a>
	<div class="uk-accordion-content">
		
		<div class="uk-card-body">
			<p>{{package.description or "No description was provided"}}.</p>
		</div>
		<div class="uk-card-footer" tabindex="0">
			<p>Install this package using the following command:</p>
			<div class="uk-margin"></div>
			<div class="uk-animation-toggle" data-termynal>
				<span class="uk-animation-shake" data-ty="input" data-ty-prompt="C:\Users\117>"
					>mercury install {{package.label}}</span
				>
			</div>
		</div>
	</div>
</li>
