<div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin">
	<div class="uk-card-header">
		<div class="uk-grid-small uk-flex-middle" uk-grid>
			<div class="uk-width-auto">
				<img
					class="uk-border-circle"
					width="40"
					height="40"
					src="{{package.image or 'img/package.png'}}"
				/>
			</div>
			<div class="uk-width-expand">
				<h3 class="uk-card-title uk-margin-remove-bottom">
					{{package.label}}
					<span class="uk-label">{{package.category or ""}}</span>
				</h3>
				<p class="uk-text-meta uk-margin-remove-top">{{package.version}}</p>
			</div>
		</div>
	</div>
	<div class="uk-card-body">
		<p>{{package.description or "No description was provided"}}.</p>
	</div>
	<div class="uk-card-footer">
		<b>Install this package using the following command:</b>
		<div class="uk-margin"></div>
		<div data-termynal>
			<span data-ty="input" data-ty-prompt="C:\Users\117>">mercury install {{package.label}}</span>
		</div>
	</div>
</div>
