<div
	uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar"
>
	<nav class="uk-navbar-container" style="background-color: #252a33" uk-navbar>
		<div class="uk-navbar-left">
			<a class="uk-navbar-item uk-logo" href="/">
				<img data-src="img/mercury.png" width="50px" height="20px" alt="" uk-img />
				<p style="color: #fff">Mercury</p>
			</a>
		</div>

		<div style="margin-right: 10px" class="uk-navbar-right">
			<a style="color: #fff" href="https://github.com/Sledmine/Mercury" class="uk-navbar-item">
				<span uk-icon="github"></span>
				<div class="uk-margin uk-margin-left">GitHub</div>
			</a>
			<a style="color: #fff" href="https://discord.shadowmods.net/" class="uk-navbar-item">
				<span uk-icon="discord"></span>
				<div class="uk-margin uk-margin-left">Discord</div>
			</a>
		</div>
	</nav>
</div>
